<!--RJFW-->
<link rel="stylesheet" type="text/css" href="//static.fsf.org/nosvn/plone3/css/hide-date.css" />
<p>Whether the server itself runs nonfree software is a different issue. Nonfree software running on the server infringes the freedom of the server operator, but not yours; therefore, it is a secondary issue. We note here that some server operators say they run exclusively free software; you might choose one of them to reward their support for the community.</p>
<p>We don't know of any surefire way to evaluate a mail service for privacy, since
  any such service could be <a href="http://www.gnu.org/philosophy/surveillance-vs-democracy.html">
    handing mail data massively to some government</a>, and there is no
  way to detect this from outside. </p>
<p>We do know that specific companies providing webmail services were named as part of the <a href="http://en.wikipedia.org/wiki/PRISM_%28surveillance_program%29">PRISM</a> NSA spying revelations: Google, Yahoo, Microsoft, Apple, and AOL.</p>
<p>We also know that some smaller companies, like Lavabit, were pressured to turn over information.</p>
<p>
As the privacy and freedom of these webmail services are evaluated periodically based on community feedback, please email us at <a href="mailto:campaigns@fsf.org">campaigns@fsf.org</a> with any suggestions or if you notice any issues that may have escaped our attention.
</p>
<p>With these caveats, here are some recommendations:</p>
<ul>

  <li>
    Pick a mail service
    located in a country that won't cooperate with governments that you're
    particularly concerned about privacy from.
  </li>

  <li>Avoid using LinkedIn, which <a href="http://arstechnica.com/tech-policy/2013/09/linkedin-sued-by-users-who-say-it-hacked-their-e-mail-accounts/">
      fishes for people's email contact lists</a>. </li>

  <li>If your mail service and your search engine are run by companies
    that don't cooperate, neither of them can correlate your searches with
    your mail contents. (A spy agency could still do so, if the two
    companies are in the same country or in countries that cooperate in
    massive surveillance.) Thus, don't use both Gmail and other Google
    services such as web search.</li>

</ul>
<h3>Recommended</h3>
<p>Some of these services are gratis, but that's a separate issue.
  Recall that "free software" refers to freedom, not price.
  <ul>
        <li><a href="https://posteo.de">Posteo</a>: <strong>Aims to be fully compliant with LibreJS's
    standards, but some scripts cause warnings. Does not work without JS.</strong>
    Credit card payments do not work.
    <li><a href="https://riseup.net">Riseup</a>: New accounts need an invite code from someone
    already on the system. Signup works, even when Javascript disabled. POP/IMAP
    clients can be used.</li>
  <li><a href="https://autistici.org">Autistici/Inventati (A/I)</a>: Sign up needs JS. They are working on becoming LibreJS compliant, but no ETA on this yet.<!--(2019-08-23) mailed info@autistici.org - asking for account, so we could test (2019-09-07) Response indicated work ongoing. (2019-10-05) visited site, there is maintenance ongoing.--></li>
    <li>Some services will let you sign up and sign in without non-free JavaScript, and use IMAP/POP3 from a desktop program, but have broken webmail:
      <ul>
        <!--<li><a href="https://openmailbox.org">OpenMailBox</a>: JS needed for signup. IMAP/POP access available for "Pro" account.</li> commenting out for now, major outage in Sept 2018 and no response to current customers-->
        <li><a href="https://kolabnow.com">Kolab Now</a>: Swiss based paid service focused on ensuring your privacy. Highly resistant to PRISM and similar programs. Runs on free software. Currently becoming LibreJS compliant.</li>
      <li><a href="https://mailnesia.com">Mailnesia</a>.</li>
      <li><a href="https://safe-mail.net">Safe-mail.net</a>. Signup and Login possible with LibreJS enabled. Select "Traditional" interface for webmail use. Mail server details also available for mail clients.</li>
      <li><a href="https://vfemail.net">VFEmail</a> (uses google syndication, and captcha - both non-free). After registering, you can use mailserver configuration details and use a mail client.</li>
    </ul>
</li>
</ul></p>

<p>For privacy purposes, you may sometimes want to use a disposable email address for one or a small number of messages. These disposable email services have been verified to work without proprietary JavaScript:</p>
<ul>
  <li><a href="https://10minutemail.com/">10 Minute Email</a></li>
  <li><a href="https://guerrillamail.com/">Guerrilla Mail</a></li>
  <li><a href="https://spamgourmet.com/">Spam Gourmet</a></li>
</ul>

<p>
  To ask about a mail service not listed here, or request corrections and updates, please send a mail to: monoverde at riseup dot net : with "Webmail System" in the subject line.
</p>


<h3>Under Review</h3>
These are systems either currently under review, or undergoing a status change.
<ul>
  <li><a href="https://disroot.org">Disroot</a>: Sign up needs JS. <!--20180706 Mail sent to support@disroot.org - asking for imap/pop settings--></li>

  <li><a href="https://hushmail.com">Hushmail</a>: Site doesn't load without JS.<!--2015-01-15 - Site doesn't load without JS. Pretty much all blocked by LibreJS.--></li>
  <li><a href="https://mailbox.org">mailbox.org</a> JS needed to register or use system. <!--20161016--></li>
  <li><a href="https://mailo.com">Mailo.com</a>:Used to be mailoo.org and net-c/netcourier. Registration with LibreJS enabled is possible, but use of the web interface is not. 2019-10-04 request sent to investigate whether there are pop/imap options. Send a mail to us if you find out further info :)</li>
  <li><a href="https://protonmail.ch">ProtonMail</a> JS needed to register or use system.<!--Get a message "JS must be enabled to encrypt and decrypt mail in the browser" (2015-05-12)--></li>
  <li><a href="https://tuffmail.com">Tuffmail</a>: Registration form didn't need Javascript, though an application attempt resulted in no actual account being created. Investigations continue.</li>
  <li><a href="https://tutanota.de">Tutanota</a>: Looks promising - they're working on becoming LibreJS Compliant.<!--2015-05-13 - LibreJS blocks pretty much all scripts on the page - js needed for registration. They do look keen on GPLv3 and security, as well as libre/freedom, so look promising. 2015-05-15 - had reply from hello@tutao.de (Arne) - they're working on it.--></li>
  <li><a href="https://unseen.is">Unseen</a>: Site doesn't load without JS.</li>
</ul>

<h3>Not Recommended</h3>
Systems we've investigated and found wanting.
<ul>
	
	<li>Apple <a href="https://www.icloud.com">iCloud</a>(@iCloud.com. Old emails: <a ref="https://me.com">@me.com</a>, <a href="https://mac.com">@mac.com</a>). <a href="https://www.gnu.org/proprietary/malware-apple.html">Apple</a> requires people to own an Apple device (either an iOS device or a Mac)
to create an iCloud account.</li>
  <li><a href="https://fastmail.fm">FastMail</a>: Sign up, sign in, and webmail all work smoothly. This is a paid service with a 60-day free trial. - UPDATE: was notified that this is not the case.</li>
  <li>Google <a href="https://gmail.com">Gmail</a>: You can sign in and use Gmail without non-free Javascript, but you have to make the account in a special way, through <a href="https://accounts.google.com/NewAccount">https://accounts.google.com/NewAccount</a>. This is an old sign-up form; the currently recommended sign-up form is no good, since it requires nonfree JavaScript code. But Gmail is run by Google and was specifically named as part of the PRISM spying program.</li>
  <li><a href="https://mail.ru">Mail.Ru</a>: Sign up, sign in, and webmail all work smoothly. BEWARE though - it is almost certainly under governmental surveillance, and likely does not respect privacy.</li>
  <li><a href="https://mail.yahoo.com/">Yahoo! Mail</a>: works without JS apparently, but you need JS enabled to create a yahoo account</li>
  <li><a href="https://mail.yandex.com/">Yandex Mail</a>: You can register and sign in with LibreJS enabled, but not send mail in the no-js interface. Also: looks to be Russian based, so almost certainly under surveillance.</li>
  <li>Microsoft <a href="https://outlook.live.com/owa/">Outlook.com</a> (@outlook.com, @live.com. Old emails: @hotmail.com, @msn.com): Requires nonfree Javascript</li>
</ul>


<h3>Other</h3>
Systems that don't fit conveniently into any category, but we've reviewed or processed them.
<ul>
  <li><a href="https://mailinabox.email/">Mail-in-a-Box</a> is an easy-to-deploy GNU/Linux mail server so you can run your own webmail</li>
  <li><a href="https://mailcow.email/">mailcow</a> is a docker based GNU/Linux mail server</li>
<!-- ian: i commented closed down stuff,  no one cares. -->
<!-- <li><a href="https://shortmail.com">Shortmail.com</a>: (closed down)</li> -->
  <!-- <li><a href="https://ruggedinbox.com">RuggedInbox.com</a>: (closed down)<strong>Signup is quick and works with LibreJS.</strong> SquirrelMail (works without JS) can be used to access webmail, POP/IMAP clients can also be used.(2016/07/20 - looks defunct. Times out)</li> -->
  <!-- <li><a href="http://sigaint.org/">SIGAINT</a> (closed down) <strong>Requires user to run TOR browser. Usable with LibreJS plugin activated, or JavaScript disabled.</strong> To use POP/IMAP services, users will need to upgrade to (paid) PRO package.</li> -->
</ul>

<!--RJFW-->
